* {
  z-index: 1;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #012d26;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    z-index: -1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title1, .title2 {
    color: azure;
    font-family: 'AcuminBold', sans-serif;
    line-height: 1;
    margin: 0;
}

.title1 {

    font-size: clamp(20px, 10vw, 200px);
}

.title2 {
    font-size: clamp(20px, 8vw, 180px);
}

.tagline {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    width: 40%;
}

.desc {
    color: azure;
    font-family: 'AcuminLight', sans-serif;
    font-size: clamp(10px, 2vw, 100px);
}

.auth {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    z-index: 1;
}

.animated-rect {
    transform-origin: center center;
    animation: translatePattern 90s linear infinite, rotatePattern 180s linear infinite;
}

@keyframes translatePattern {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-300%);
    }
}

@keyframes rotatePattern {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}