.container {
    width: 100vw;
    height: 100vh;
    background-color: #012d26;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title1, .title2 {
    margin: 0;
    color: azure;
    font-family: 'AcuminBold', sans-serif;
}

.title1 {
    font-size: clamp(20px, 10vw, 200px);
}

.title2 {
    font-size: clamp(20px, 8vw, 180px);
    margin-top: -4vw;
}

.tagline {
    margin-top: -1vh;
    display: flex;
    justify-content: flex-start;
    width: 40%;
}

.desc {
    color: azure;
    font-family: 'AcuminLight', sans-serif;
    font-size: clamp(10px, 2vw, 100px);
} 

.animated-rect {
animation: translatePattern 90s linear infinite;
}

@keyframes translatePattern {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-300%);
    }
}