.container {
    flex: 1;
    width: 100vw;
    height: 100vh;
    background-color: #012d26;
    overflow: hidden;
}

.header {
    position: absolute;
    color: azure;
    font-family: 'AcuminBold', sans-serif;
    font-size: 100px;
    z-index: 1;
}

.desc {
    position: absolute;
    color: azure;
    font-family: 'AcuminBold', sans-serif;
}

.animated-rect {
animation: translatePattern 90s linear infinite;
}

@keyframes translatePattern {
0% {
    transform: translateY(0);
}
100% {
    transform: translateY(-300%);
}
}