.container {
    flex: 1;
    width: 100vw;
    height: 100vh;
    background-color: #012d26;
    overflow: hidden;
}

.header {
    color: azure;
}

.animated-rect {
animation: translatePattern 90s linear infinite;
}

@keyframes translatePattern {
0% {
    transform: translateY(0);
}
33% {
    transform: translateY(-100%);
}
66% {
    transform: translateY(-200%);
}
100% {
    transform: translateY(-300%);
}
}