.button {
  justify-content: center; /* Centers content horizontally */
  align-items: center;
  color: white;
  background-color: #0CBD90;
  height: 48px;
  width: 100%;
  border: none;
  border-radius: 5px;
  z-index: 1;
  margin: 0 5px 0 5px;
  transition: 0.3s ease-in-out;
}

.button:hover {
  transition: 0.3s ease-in-out;
  background-color: #029976;
}