$deep-teal-50: #ECFDF6;
$deep-teal-100: #D0FBE8;
$deep-teal-200: #A5F5D6;
$deep-teal-300: #6BEAC2;
$deep-teal-400: #30D7A7;
$deep-teal-500: #0CBD90;
$deep-teal-600: #029976;
$deep-teal-700: #017B62;
$deep-teal-800: #04614E;
$deep-teal-900: #045042;
$deep-teal-950: #012D26;