@import '../../constants/colors.scss';

* {
    z-index: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: $deep-teal-950;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  position: absolute;
  z-index: -1;
  transition: filter 0.3s ease;
}