@import '../../constants/colors.scss';

* {
    z-index: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient($deep-teal-900, $deep-teal-950);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
}

.bg {
  position: absolute;
  z-index: -1;
  transition: filter 0.3s ease;
}

.mainContent {
  height: 75vh;
  flex: 19;
  border: 1px solid white;
}