.animated-rect {
  transform-origin: 50% 50%;
  animation: rotatePattern 600s linear infinite;
}

@keyframes rotatePattern {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}