@font-face {
     font-family: 'Black';
     src: url('./assets/fonts/AktivGrotesk-Black.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
   
@font-face {
     font-family: 'Bold';
     src: url('./assets/fonts/AktivGrotesk-Bold.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Hairline';
     src: url('./assets/fonts/AktivGrotesk-Hairline.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Light';
     src: url('./assets/fonts/AktivGrotesk-Light.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Medium';
     src: url('./assets/fonts/AktivGrotesk-Medium.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Thin';
     src: url('./assets/fonts/AktivGrotesk-Thin.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'XBold';
     src: url('./assets/fonts/AktivGrotesk-XBold.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}