@font-face {
     font-family: 'AcuminBold';
     src: url('./assets/fonts/Acumin-BdPro.otf') format('opentype');
     font-weight: normal;
     font-style: normal;
}
   
@font-face {
     font-family: 'Acumin';
     src: url('./assets/fonts/Acumin-RPro.otf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'AcuminThin';
     src: url('./assets/fonts/Acumin-TPro.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'AcuminLight';
     src: url('./assets/fonts/Acumin-LPro.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'AcuminExtraLight';
     src: url('./assets/fonts/Acumin-ElPro.ttf') format('opentype');
     font-weight: normal;
     font-style: normal;
}