.logo {
  height: 20vw;
  min-height: 300px;
}

.background {
  background-color: #fff; /* Example background color */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
  min-width: 300px;
}

.button {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center;
  height: 5%;
  width: 100%;
  border: 0px;
  border-radius: 5px;
  background-color: #00c093;
  transition: 0.5s ease-in-out;
}

.button:hover {
  transition: 0.5s ease-in-out;
  background-color: #009975;
}

.button-label {
  color: #fff;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}