* {
    z-index: 0;
}

.navbar {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    min-width: 80px;
    max-width: 100px;
    border-radius: 14px;
    background-color: rgba($color: #000, $alpha: 0.5);
}